@import "variables.scss";

// https://stackoverflow.com/a/35256494
html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-size: 1.25 * $rem-baseline;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
  height: 100%;
  width: 100%;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
